
<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button royal (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Jerry</ion-title>
  </ion-navbar>

  <ion-list>
      <ion-item>
        <ion-icon [name]="isAuthUser ? 'lock' : 'unlock'" item-left></ion-icon>
        Login
        <ion-note item-right>
        <span>{{ isAuthUser ? 'Logged In' : 'Logged Out' }}</span>
        </ion-note>
      </ion-item>
      <ion-item *ngIf="!isAuthUser">
        <ion-label fixed>Email</ion-label>
        <ion-input name="username" type="text" [(ngModel)]="credentials.username"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isAuthUser">
        <ion-label fixed>Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="credentials.password"></ion-input>
      </ion-item>

      <button ion-item *ngIf="!isAuthUser" (click)="login()" >
        Login
      </button>

      <ion-item>
        Devices
        <button clear item-right (click)="refreshDeviceList()" [disabled]="isRefreshing ? true : false">{{ isRefreshing ? 'Loading' : 'Refresh' }}</button>
      </ion-item>
  </ion-list>
</ion-header>

<ion-content padding>

  <form>
    <ion-list>




      <ion-list *ngFor="let device of devices">
        <ion-item>
          <h2>{{ device.name }}</h2>
          <p>{{ device.id }}</p>
          <ion-icon item-left [name]="device.connected ? 'cloud-done' : 'cloud-outline' " [style.color]="device.connected ? 'green' : 'red' "></ion-icon>
          <button item-right (click)="setDefault(device)" [hidden]="device.id == defaultDevice">Default</button>
        </ion-item>
        <button ion-item (click)="openGeyser()" [disabled]="device.connected ? false : true">
          Geyser
          <ion-icon item-left name="thermometer"></ion-icon>
          <ion-icon item-right name="arrow-forward"></ion-icon>
        </button>
      </ion-list>




    </ion-list>
  </form>
</ion-content>
