<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Schedule
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-select [(ngModel)]="schedule.weekdays">
        <ion-option value="1111100">Weekdays</ion-option>
        <ion-option value="11">Weekend</ion-option>
        <ion-option value="10000000">Every Day</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="schedule.time_of_day"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Duration</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="schedule.duration"></ion-datetime>
    </ion-item>

  </ion-list>

</ion-content>
