<ion-header>
  <ion-navbar primary>
    <ion-title>Jerry Geyser</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      Temperature
      <ion-icon name='thermometer' item-left></ion-icon>
      <ion-note item-right>{{ geyser.state.temperature }}&deg;C&nbsp;/&nbsp;{{ geyser.config.ideal_temp }}&deg;C</ion-note>
    </ion-item>

    <ion-item>
      Status
      <ion-icon name='information-circle' item-left [style.color]="geyser.state.element_on ? 'orange' : 'green'"></ion-icon>
      <ion-note item-right>{{ geyser.state.label }}({{ geyser.state.element_on ? 'ON' : 'OFF' }})</ion-note>
    </ion-item>

    <button ion-item (click)="openConfig('schedule')">
      <h2>Schedule</h2>
      <p>
        <span *ngFor="let item of geyser.schedule.items">
          <span *ngIf="item.isset()">
          {{ item.weekdays | joinWeekdays }}
          at {{ item.tod }}
          for {{ item.duration | duration }},
          </span>
        </span>
      </p>
      <ion-icon name='clock' item-left></ion-icon>
      <ion-icon name='arrow-forward' item-right></ion-icon>
    </button>


    <button ion-item (click)="openConfig('config')">
      <h2>Config</h2>
      <p>Ideal Temperature: 50&deg;C</p>
      <ion-icon name='build' item-left></ion-icon>
      <ion-icon item-right name="arrow-forward"></ion-icon>
    </button>

    <button ion-item (click)="openConfig('override')">
      <h2>Override</h2>
      <p [style.color]="geyser.state.element_on ? 'orange' : 'green'">Forced Off, 1day 24h remaining</p>
      <ion-icon name='options' item-left></ion-icon>
      <ion-icon item-right name="arrow-forward"></ion-icon>
    </button>


  </ion-list>


</ion-content>
