<ion-header>
  <ion-toolbar>
    <ion-title>
      Jerry Geyser - Config
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">Cancel</button>
      <button (click)="save()">Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="type">

    <template ngSwitchCase="schedule">
      <ion-list no-lines >

        <ion-list-header>
          Schedule
          <button item-right clear *ngIf="schedule.items.length < 4" (click)="addScheduleItem()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-list-header>

        <ion-item *ngFor="let item of schedule.items; let i = index">
            {{ item.weekdays | joinWeekdays }}
            at {{ item.tod }}
            for {{ item.duration | duration }}
            <button item-right (click)="editScheduleItem(item, i)">Edit</button>
        </ion-item>

        <ion-item *ngIf="schedule.items.length == 0">
          No scheduled times
        </ion-item>
      </ion-list>
    </template>



    <template ngSwitchCase="config">
      <ion-list no-lines >

        <ion-list-header>Config</ion-list-header>

        <button ion-item>
          Ideal Temp
          <ion-note item-right>{{ config.ideal_temperature }}</ion-note>
        </button>

      </ion-list>
    </template>


    <template ngSwitchCase="override">
      <ion-list no-lines>
        
        <ion-list-header>Override</ion-list-header>

        <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="config.override_start_time"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Force On</ion-label>
          <ion-toggle [(ngModel)]="config.override_option"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Duration</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="config.override_duration"></ion-datetime>
        </ion-item>

      </ion-list>
    </template>


  </div>
</ion-content>
