<ion-header>
  <ion-toolbar>
    <ion-title>
      Jerry Geyser - Schedule
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list no-lines>

  <ion-item>

      
      <ion-label>Weekdays</ion-label>

      <button item-right secondary (click)="toggleAllWeekday()">All</button>
      <button item-right [clear]="item.weekdays.mon ? null : true" (click)="toggleWeekday('mon')">M</button>
      <button item-right [clear]="item.weekdays.tue ? null : true" (click)="toggleWeekday('tue')">T</button>
      <button item-right [clear]="item.weekdays.wed ? null : true" (click)="toggleWeekday('wed')">W</button>
      <button item-right [clear]="item.weekdays.thu ? null : true" (click)="toggleWeekday('thu')">T</button>
      <button item-right [clear]="item.weekdays.fri ? null : true" (click)="toggleWeekday('fri')">F</button>
      <button item-right [clear]="item.weekdays.sat ? null : true" (click)="toggleWeekday('sat')">S</button>
      <button item-right [clear]="item.weekdays.sun ? null : true" (click)="toggleWeekday('sun')">S</button>      

  </ion-item>

  <ion-item>
    <ion-label>Time Of Day</ion-label>
    <ion-datetime [(ngModel)]="item.tod" displayFormat="HH:mm"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Duration</ion-label>
    <ion-datetime [(ngModel)]="item.duration" displayFormat="HH:mm"></ion-datetime>
  </ion-item>

</ion-list>

</ion-content>
